extend template
block content
  .row 
    .col-md-12
      block introduction
  main.row
    .col-md-4.main-block
      block content-left
    .col-md-4.main-block
      block content-middle
    .col-md-4.main-block
      block content-right
 
